body, html {
  font-family: 'Montserrat', sans-serif;
  background: url(https://images.pexels.com/photos/234527/pexels-photo-234527.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.custom-image {
  --b: 5px; /* border thickness */
  --f: 1; /* initial scale */
  
  width: 280px;
  aspect-ratio: 1;
  cursor: pointer;
  border-radius: 0 0 999px 999px;
  border: 5px solid;
  border-color: #0000 #0000 #ffffff #0000;
  background: 
    radial-gradient(
      circle closest-side,
      #f36a50 calc(99% - var(--b)),#ffffff calc(100% - var(--b)) 99%,#0000
     ) 50%/calc(100%/var(--f)) 100% no-repeat border-box;
  transform: scale(var(--f));
  transition: .5s;
}

.custom-image:hover {
 --f: 1.35; /* hover scale */
/*  padding-top: calc(var(--s)/7);*/
}

h1 {
  font-size: 3rem;
  color: #ffffff;
  background-color: #21252900;
}
h2
{
  text-align: center;
  font-size: 2rem;
  color: #000000;
  background-color: #f05f44a1;
}
h3
{
  font-size: 1rem;
  color: #ffffff;
  background-color: #21252900;
}

hr {
  margin: 20px auto;
  color: #F05F44;
  border: 3px solid #F05F44;
  max-width: 700px;
  opacity: 1;  
}
.buffer {
  height: 5rem;
}


button {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: red;
  border-color: red;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 4px;
}

.btn-xl {
  padding: 1rem 2rem;
}


/*----------------------------Carousel-------------------------------*/


.containercarousel {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  gap: 10px;

  > div {
    flex: 0 0 120px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url("https://rukminim2.flixcart.com/image/850/1000/kjx6tu80/book/6/m/z/html-and-css-original-imafzeyazkuy2htf.jpeg?q=20")
      no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url("https://images.ctfassets.net/23aumh6u8s0i/1IKVNqiLhNURzZXp652sEu/4379cfba19f0e19873af6074d3017f70/csharp")
        no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url("https://miro.medium.com/v2/resize:fit:1200/1*LyZcwuLWv2FArOumCxobpA.png")
        no-repeat 50% / cover;
    }
    &:nth-of-type(4) {
      background: url("https://www.patterns.dev/img/reactjs/react-logo@3x.svg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(5) {
      background: url("https://bs-uploads.toptal.io/blackfish-uploads/components/seo/content/og_image_file/og_image/1282569/0712-Bad_Practices_in_Database_Design_-_Are_You_Making_These_Mistakes_Dan_Social-754bc73011e057dc76e55a44a954e0c3.png")
        no-repeat 50% / cover;
    }

    .content {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 15px;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      background: rgb(2, 2, 46);
      background: linear-gradient(
        0deg,
        rgba(2, 2, 46, 0.6755077030812324) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
      }
    }

    &:hover {
      flex: 0 0 250px;
      box-shadow: 1px 3px 15px #7645d8;
      transform: translatey(-30px);
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
}
